<section class="content" id="home">
	<section class="container">
		<section data-ng-controller="HomeController">
			<div class="jumbotron text-center" id="intro">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
						<h1>Dine In</h1>
					</div>
				</div>
				<br>
				<div class="row">
					<p class="lead">
						Share :: Experience :: Culture :: Friends
					</p>
				</div>
			</div>
			<div class="jumbotron text-center" id="homeSecond">
			<div class="row">
				<h2>ENJOY REMARKABLE MEMORIES</h2>
				<p>We are all looking to share moments of happiness with good company and good food, This is what life is all about, isn't it? We would like to welcome you into Dine in World Where you will cook for new friends and fed by new friends. we share the love for food and comunity, one table one world.</p>
			</div>
			<div class="row">
        <p>
          <a class="btn btn-primary btn-lg" href="#" target="_blank">LETS GO</a>
        </p>
	    </div>
		</section>
	</section>
</section>

