.content {
	margin-top: 50px;
  
}
#home{
  background: url(/modules/core/img/cropped-o-DINNER-PARTY-facebook.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: center center;
  min-height: 450px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

#intro{
  background-color:rgba(220, 220, 220, 0.5);
  margin-top:30px;
}

html {
  position: relative;
  min-height: 100%;
}

body{
   margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #333;
}

